<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Random Word Generator</title>
</head>
<body>

    <div>
        <h3>Random Word (attempt: {{request.session.attempts}})</h3>
        <h1>{{ request.session.randomWord }}</h1>
        <form action='/random_word/new' method='post'>
            {% csrf_token %}
            <input type='submit' value='Generate'>
        </form>
        <br>
        <form action='/random_word/reset' method='post'>
            {% csrf_token %}
            <input type='submit' value='Reset'>
        </form>
    </div>
    
</body>
</html>